<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">

        <title>{% block title %}Hamburguesas Del Rodeo - Administracion{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/globalAdmin.css') }}">
        <link rel="stylesheet" href="{{ asset('build/dataTables.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <div class="container">
            <div class="header clearfix">
                {% set route = app.request.attributes.get('_route')|split('_') %}

                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li class="{% if route[0] == 'section' %}active{% endif %}"><a href="{{path('section_index')}}">Secciones</a></li>

                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                Comidas <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="{% if route[0] == 'item' %}active{% endif %}"><a href="{{path('item_index')}}">Productos</a></li>
                                <li class="{% if route[0] == 'drink' %}active{% endif %}"><a href="{{path('drink_index')}}">Bebidas</a></li>
                                <li class="{% if route[0] == 'accompaniment' %}active{% endif %}"><a href="{{path('accompaniment_index')}}">Acompañamientos</a></li>
                                <li class="{% if route[0] == 'addition' %}active{% endif %}"><a href="{{path('addition_index')}}">Adiciones</a></li>
                            </ul>
                        </li>
                        <li class="{% if route[0] == 'branch' %}active{% endif %}"><a href="{{path('branch_index')}}">Sucursales</a></li>
                        <li class="{% if route[0] == 'legal' %}active{% endif %}"><a href="{{path('legal_index')}}">Legal</a></li>
                        <li><a href="{{path('homepage')}}">Sitio Público</a></li>
                    </ul>
                </nav>
                <h3 class="text-muted">Del Rodeo Admin</h3>
            </div>
        </div>

        {% block body %}{% endblock %}

        {% block footer %}
            <div class="container footer">
                <div class="row">
                    <div class="footer-container row text-center copyright">
                        <div class="col-md-12">
                            <strong>Del Rodeo Colombia</strong> · Todos los derechos reservados · &copy; {{ "now"|date("Y") }}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        <script src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
