<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">

        <title>{% block title %}Hamburguesas Del Rodeo{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/global.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <img class="domi" src="{{ asset('bundles/app/img/global/domicilio.png') }}" alt="domicilios">
        </div>
        {% block body %}{% endblock %}

        {% block footer %}
            <div class="container footer">
                <div class="row text-center">
                    <div class="col-xs-3">
                        <h4>Social</h4>
                        <ul class="text-left">
                            <li>
                                <a href="https://www.facebook.com/DelRodeo" target="_blank" class="clearfix">
                                <img class="combo" src="{{ asset('bundles/app/img/global/facebook-icon.png') }}" alt="Facebook">
                                <span>Facebook</span>
                            </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/Del_Rodeo" target="_blank" class="clearfix">
                                <img class="combo" src="{{ asset('bundles/app/img/global/twitter-icon.png') }}" alt="Twitter">
                                <span>Twitter</span>
                            </a>
                            </li>
                            <li>
                                <a href="https://instagram.com/del_rodeo" target="_blank" class="clearfix">
                                <img class="combo" src="{{ asset('bundles/app/img/global/instagram-icon.png') }}" alt="LinkedIn">
                                <span>Instagram</span>
                            </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-3">
                        <h4>Categorías</h4>
                        <ul>
                            <li><a href="{{path('puntos_venta')}}">Puntos de Venta</a></li>
                            <li><a href="{{path('contacto')}}">Contáctenos</a></li>
                            <li><a href="{{path('eventos')}}">Eventos</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-3">
                        <h4>Legal</h4>
                        <ul>
                            <li><a href="{{ path('faq') }}">Preguntas frecuentes</a></li>
                            <li><a href="{{ path('policy') }}">Politica de privacidad</a></li>
                            <li><a href="{{ path('terms') }}">Condiciones de uso</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-3">
                        <ul class="copyright">
                            <li>Condiciones y restricciones</li>
                            <li>
                                <strong>del rodeo colombia</strong> &copy; {{ "now"|date("Y") }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endblock %}

        <script src="//rawgit.com/openexchangerates/accounting.js/master/accounting.min.js"></script>
        <script src="{{ asset('build/app.js') }}"></script>

        {# Google Analytics #}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-106289099-1', 'auto');
            ga('send', 'pageview');
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
