<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">

        <title>{% block title %}Hamburguesas Del Rodeo{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/global.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block footer %}
            <div class="container footer">
                <div class="row">
                    <div class="footer-container row text-center social-icons">
                        <div class="col-md-offset-4 col-md-1">
                            <a href="https://www.facebook.com/DelRodeo" target="_blank">
                                <img class="combo" src="{{ asset('bundles/app/img/global/facebook-icon.png') }}" alt="Facebook">
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a href="https://twitter.com/Del_Rodeo" target="_blank">
                                <img class="combo" src="{{ asset('bundles/app/img/global/twitter-icon.png') }}" alt="Twitter">
                            </a>
                        </div>
                        <div class="col-md-1">
                            <a href="https://twitter.com/Del_Rodeo" target="_blank">
                                <img class="combo" src="{{ asset('bundles/app/img/global/linkedin-icon.png') }}" alt="LinkedIn">
                            </a>
                        </div>
                    </div>

                    <div class="footer-container row">
                        <div class="col-md-4 text-right">
                            <a href="#">conócenos</a>
                        </div>
                        <div class="col-md-4 text-center">
                            <a href="#">terminos y condiciones</a>
                        </div>
                        <div class="col-md-4 text-left">
                            <a href="#">eventos</a>
                        </div>
                    </div>

                    <div class="footer-container row">
                        <div class="col-md-offset-4 col-md-1 text-right">
                            <a href="#">menú</a>
                        </div>
                        <div class="col-md-1 text-center">
                            <a href="#">faqs</a>
                        </div>
                        <div class="col-md-1 text-left">
                            <a href="#">contactanos</a>
                        </div>
                    </div>

                    <div class="footer-container row text-center copyright">
                        <div class="col-md-12">
                            <strong>del rodeo colombia</strong> · todos los derechos reservados · &copy; {{ "now"|date("Y") }}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        <script src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
