{% extends 'base.html.twig' %}

{% block body %}
    <div class="container home-container">
        <img class="logo" src="{{ asset('bundles/app/img/home/logo.png') }}" alt="Del Rodeo Logo">
        <div class="header clearfix">
            {% include 'Partials/publicNav.html.twig' %}
        </div>

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="{{ asset('bundles/app/img/home/slider1.jpg') }}" alt="Del Rodeo Slider Img">
                </div>
                <div class="item">
                    <img src="{{ asset('bundles/app/img/home/slider2.jpg') }}" alt="Del Rodeo Slider Img">
                </div>
            </div>
        </div>

        <div class="row marketing">
            <div class="title text-center">
                <span class="white-dot"></span>
                <span class="white-dot"></span>
                <span class="white-dot"></span>
                nuestros destacados
                <span class="white-dot"></span>
                <span class="white-dot"></span>
                <span class="white-dot"></span>
            </div>
        </div>

        <div class="row marketing">
            {% for featuredItem in featuredItems %}
                <div class="{% if loop.first %}col-sm-offset-1 {% endif %}col-sm-3 img-container">
                    {% if featuredItem.image == '' %}
                        {% set image = 'manu.jpg' %}
                    {% else %}
                        {% set image = featuredItem.image %}
                    {% endif %}
                    <img class="combo" src="{{ asset('bundles/app/img/home/menu/' ~ image ) }}" alt="{{ featuredItem.name|title }} ">
                    <img class="shopping-car" data-image="{{ featuredItem.image|lower }}" data-showSelections="{{ featuredItem.showSelections == true ? 'yes' : 'no' }}" data-isDuo="{{ featuredItem.isDuo == true ? 'yes' : 'no'  }}" data-id="{{ featuredItem.id }}" data-is-duo="{{ featuredItem.isDuo == true ? 'yes' : 'no'  }}" data-title="{{ featuredItem.name|title }}" data-toggle="modal" data-target="#shoppingModal" src="{{ asset('bundles/app/img/home/shopping-car.png') }}" alt="Car">
                </div>
            {% endfor %}
        </div>

        <div id="menu" class="row marketing">
            <div class="title text-center">
                <span class="white-dot"></span>
                <span class="white-dot"></span>
                <span class="white-dot"></span>
                menú
                <span class="white-dot"></span>
                <span class="white-dot"></span>
                <span class="white-dot"></span>
            </div>
        </div>

        <div class="row order-details marketing hide" id="orderDetails"></div>

        <div class="row marketing inherit-container">
            <div id="accordion" class="accordion-container" role="tablist" aria-multiselectable="true">
                {% for section in sections %}
                    {% if section.id|menuItem(true) > 0 %}
                        <div class="panel">
                            <div role="tab" id="{{ 'heading' ~ loop.index }}">
                                <h2>
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#{{'collapse' ~ loop.index }}" aria-expanded="false" aria-controls="{{'collapse' ~ loop.index }}">
                                        <div class="title menu-title clearfix">
                                            <span>
                                                <h2>{{ section.name|lower }}</h2>
                                                <span class="white-dot"></span>
                                                <span class="white-dot"></span>
                                                <span class="white-dot"></span>
                                            </span>

                                            <img class="title-image" src="{{ asset('bundles/app/img/home/menu-title-' ~ section.id ~ '.png') }}" alt="{{ section.name|lower }}">
                                        </div>
                                    </a>
                                </h2>
                            </div>

                            <div id="{{'collapse' ~ loop.index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{ 'heading' ~ loop.index }}">
                                <div class="row marketing">
                                    <div class="row">
                                        {% for item in section.id|menuItem %}
                                            <div class="text-center {% if loop.first or loop.index == 4 or loop.index == 7 or loop.index == 10 or loop.index == 13 or loop.index == 16 or loop.index == 19 or loop.index == 22 or loop.index == 25 or loop.index == 28 %}col-sm-offset-1 {% endif %} col-sm-3 img-container-shadow">
                                                <div class="item-name text-center">
                                                    <h3>{{ item.name|lower }}</h3>
                                                </div>
                                                {% if item.image == '' %}
                                                    {% set image = 'menu.jpg' %}
                                                {% else %}
                                                    {% set image = item.image %}
                                                {% endif %}
                                                <img class="combo menu-list" src="{{ asset('bundles/app/img/home/menu/' ~ image ) }}" alt="{{item.name|lower}}">
                                                <div class="item-description-price text-center">
                                                    <p>{{ item.description|lower }}</p>
                                                    {% if item.unitaryPrice > 0 %}
                                                        {{ item.unitaryPrice|price }}
                                                    {% else %}
                                                        {{ item.comboPrice|price }}
                                                    {% endif %}
                                                </div>
                                                <img class="shopping-car" data-show-selections="{{ item.showSelections == true ? 'yes' : 'no' }}" data-is-duo="{{ item.isDuo == true ? 'yes' : 'no'  }}" data-id="{{ item.id }}" data-title="{{ item.name|title }}" data-image="{{ item.image|lower }}" data-toggle="modal" data-target="#shoppingModal" src="{{ asset('bundles/app/img/home/shopping-car.png') }}" alt="Car">
                                            </div>
                                            {% if loop.index is divisible by(3) and not loop.last %}
                                                </div> {# /.row #}
                                                <div class="row">
                                            {% endif %}
                                        {% endfor %}
                                    </div> {# /.row #}
                                </div> {# /.row.marketing #}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Shopping Modal -->
    {% include 'Partials/shoppingModal.html.twig' %}
    <!-- Generate Order Modal -->
    {% include 'Partials/generateOrderModal.html.twig' %}
{% endblock %}
