{% extends 'base.html.twig' %}

{% block body %}
    <div class="container home-container sales-container">
        <img class="logo" src="{{ asset('bundles/app/img/home/logo.png') }}" alt="Del Rodeo Logo">
        <div class="header clearfix">
            {% include 'Partials/publicNav.html.twig' %}
        </div>

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="{{ asset('bundles/app/img/branches/banner.png') }}" alt="Puntos De Venta Del Rodeo">
                </div>
            </div>
        </div>

        <div class="row marketing inherit-container">
            <div class="title text-center">
                <span class="white-dot"></span>
                <span class="white-dot"></span>
                <span class="white-dot"></span>
                puntos  de venta
                <span class="white-dot"></span>
                <span class="white-dot"></span>
                <span class="white-dot"></span>
            </div>

            <div class="row container" style="padding:50px;">
                {# <div id="myMap" class="col-lg-5 map"></div> #}
                {% for branch in branches %}
                    {# <div class="col-sm-6 box"> #}
                        <div class="row box sales-box">
                            <div class="col-sm-6" style="padding-bottom: 2%;">
                                <img src="{{ asset('bundles/app/img/branches/' ~ branch.name|lower|replace(' ', '_') ~ '.jpg') }}" alt="Image" class="img-thumbnail">
                            </div>
                            <div class="col-sm-6">
                                <h3 style="margin-top: 2%;">{{ branch.name|title }}</h3>
                                <p style="font-size: .85em;">{{ branch.address }}</p>
                                <p style="font-size: .85em;">{{ branch.phone }}</p>
                                {# <p>{{ branch.phone }}</p> #}
                                <p style="font-size: .85em;">Horarios de atención:<br>{{ branch.hours|nl2br }}</p>
                            </div>
                        </div>
                    {# </div> #}
                {% endfor %}
            </div>
        </div>

        <script>
            // var x = document.getElementById("myMap");

            // if (navigator.geolocation) {
            //     navigator.geolocation.getCurrentPosition(showPosition);
            // } else {
            //     x.innerHTML = "Geolocation is not supported by this browser.";
            // }

            // function showPosition(position) {
            //     x.innerHTML = '<iframe width="100%" height="300" frameborder="0" style="border:0" allowfullscreen src="https://www.google.com/maps/embed/v1/search?q=hamburguesas+del+rodeo&center='+position.coords.latitude+', '+position.coords.longitude+'&zoom=15&key=AIzaSyBTuuF0qjvaOOT0Nj9MCq9SRsK1h8miy5o&language=es"></iframe>';
            // }
        </script>

    </div>
{% endblock %}
