{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row title-container clearfix">
            <h1 class="pull-left">Sucursales ({{ branches|length }} total)</h1>
            <a href="{{ path('branch_new') }}" class="btn btn-primary">Nueva Sucursal</a>
        </div>

        <div class="row container list-container">
            <table id="branchTable" class="display dataTable" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Horas</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for branch in branches %}
                    <tr>
                        <td><a href="{{ path('branch_show', { 'id': branch.id }) }}">{{ branch.id }}</a></td>
                        <td>{{ branch.name }}</td>
                        <td>{{ branch.hours|nl2br }}</td>
                        <td>{{ branch.address }}</td>
                        <td>{{ branch.phone }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('branch_show', { 'id': branch.id }) }}">Ver</a>
                                </li>
                                <li>
                                    <a href="{{ path('branch_edit', { 'id': branch.id }) }}">Editar</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
