{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row title-container clearfix">
            <h1 class="pull-left">Secciones ({{ sections|length }} total)</h1>
            <a href="{{ path('section_new') }}" class="btn btn-primary">Nueva Seccion</a>
        </div>

        <div class="row container list-container">
            <table id="sectionTable" class="display dataTable" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th width="20">Id</th>
                        <th>Nombre</th>
                        <th>Numero de Productos</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for section in sections %}
                    <tr>
                        <td><a href="{{ path('section_show', { 'id': section.id }) }}">{{ section.id }}</a></td>
                        <td>{{ section.name }}</td>
                        <td style="text-align:center;">{{ section.id|menuItem(true) }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('section_show', { 'id': section.id }) }}">Ver</a>
                                </li>
                                <li>
                                    <a href="{{ path('section_edit', { 'id': section.id }) }}">Editar</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
