{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <div class="container show-container">
        <h1>Producto</h1>

        <table id="showSectionTable" class="display dataTable" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ item.id }}</td>
            </tr>
            <tr>
                <th>Código</th>
                <td>{{ item.code }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ item.name }}</td>
            </tr>
            <tr>
                <th>Precio Unitario</th>
                <td>{{ item.unitaryPrice }}</td>
            </tr>
            <tr>
                <th>Precio Combo</th>
                <td>{{ item.comboPrice }}</td>
            </tr>
            <tr>
                <th>Destacado</th>
                <td>{% if item.isFeatured %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Creado</th>
                <td>{% if item.createdAt %}{{ item.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if item.isActive %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

        <div class="row-fluid btn-container clearfix">
            <a href="{{ path('item_edit', { 'id': item.id }) }}" class="btn btn-primary">Editar</a>
            {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar" class="btn btn-primary">
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
